<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>anim0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{10,11},{78,77}}</string>
				<key>spriteOffset</key>
				<string>{-8,-7}</string>
				<key>spriteSize</key>
				<string>{88,88}</string>
				<key>spriteSourceSize</key>
				<string>{78,77}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{0,0},{78,77}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>anim0001</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{10,11},{78,77}}</string>
				<key>spriteOffset</key>
				<string>{-8,-7}</string>
				<key>spriteSize</key>
				<string>{88,88}</string>
				<key>spriteSourceSize</key>
				<string>{78,77}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{78,0},{78,77}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>anim0002</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{9,10},{79,78}}</string>
				<key>spriteOffset</key>
				<string>{-7,-6}</string>
				<key>spriteSize</key>
				<string>{88,88}</string>
				<key>spriteSourceSize</key>
				<string>{79,78}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{156,0},{79,78}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>anim0003</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{9,9},{79,79}}</string>
				<key>spriteOffset</key>
				<string>{-7,-6}</string>
				<key>spriteSize</key>
				<string>{88,88}</string>
				<key>spriteSourceSize</key>
				<string>{79,79}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{235,0},{79,79}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>anim0004</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{8,9},{80,79}}</string>
				<key>spriteOffset</key>
				<string>{-6,-6}</string>
				<key>spriteSize</key>
				<string>{88,88}</string>
				<key>spriteSourceSize</key>
				<string>{80,79}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{314,0},{80,79}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>anim0005</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{8,8},{80,80}}</string>
				<key>spriteOffset</key>
				<string>{-6,-5}</string>
				<key>spriteSize</key>
				<string>{88,88}</string>
				<key>spriteSourceSize</key>
				<string>{80,80}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{394,0},{80,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>anim0006</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{6,8},{82,80}}</string>
				<key>spriteOffset</key>
				<string>{-5,-5}</string>
				<key>spriteSize</key>
				<string>{88,88}</string>
				<key>spriteSourceSize</key>
				<string>{82,80}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{0,80},{82,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>anim0007</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{6,8},{82,80}}</string>
				<key>spriteOffset</key>
				<string>{-5,-5}</string>
				<key>spriteSize</key>
				<string>{88,88}</string>
				<key>spriteSourceSize</key>
				<string>{82,80}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{82,80},{82,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>anim0008</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{6,6},{82,82}}</string>
				<key>spriteOffset</key>
				<string>{-5,-4}</string>
				<key>spriteSize</key>
				<string>{88,88}</string>
				<key>spriteSourceSize</key>
				<string>{82,82}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{164,80},{82,82}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>anim0009</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{5,6},{83,82}}</string>
				<key>spriteOffset</key>
				<string>{-4,-4}</string>
				<key>spriteSize</key>
				<string>{88,88}</string>
				<key>spriteSourceSize</key>
				<string>{83,82}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{246,80},{83,82}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>anim0010</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{5,6},{83,82}}</string>
				<key>spriteOffset</key>
				<string>{-4,-4}</string>
				<key>spriteSize</key>
				<string>{88,88}</string>
				<key>spriteSourceSize</key>
				<string>{83,82}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{329,80},{83,82}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>anim0011</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{4,6},{84,82}}</string>
				<key>spriteOffset</key>
				<string>{-3,-4}</string>
				<key>spriteSize</key>
				<string>{88,88}</string>
				<key>spriteSourceSize</key>
				<string>{84,82}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{412,80},{84,82}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>anim0012</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{4,4},{84,84}}</string>
				<key>spriteOffset</key>
				<string>{-3,-3}</string>
				<key>spriteSize</key>
				<string>{88,88}</string>
				<key>spriteSourceSize</key>
				<string>{84,84}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{0,162},{84,84}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>anim0013</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{4,4},{84,84}}</string>
				<key>spriteOffset</key>
				<string>{-3,-3}</string>
				<key>spriteSize</key>
				<string>{88,88}</string>
				<key>spriteSourceSize</key>
				<string>{84,84}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{84,162},{84,84}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>anim0014</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{3,4},{85,84}}</string>
				<key>spriteOffset</key>
				<string>{-2,-3}</string>
				<key>spriteSize</key>
				<string>{88,88}</string>
				<key>spriteSourceSize</key>
				<string>{85,84}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{168,162},{85,84}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>anim0015</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{2,3},{86,85}}</string>
				<key>spriteOffset</key>
				<string>{-2,-2}</string>
				<key>spriteSize</key>
				<string>{88,88}</string>
				<key>spriteSourceSize</key>
				<string>{86,85}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{253,162},{86,85}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>anim0016</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{1,3},{87,85}}</string>
				<key>spriteOffset</key>
				<string>{-1,-2}</string>
				<key>spriteSize</key>
				<string>{88,88}</string>
				<key>spriteSourceSize</key>
				<string>{87,85}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{339,162},{87,85}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>anim0017</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{1,2},{87,86}}</string>
				<key>spriteOffset</key>
				<string>{-1,-2}</string>
				<key>spriteSize</key>
				<string>{88,88}</string>
				<key>spriteSourceSize</key>
				<string>{87,86}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{0,247},{87,86}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>anim0018</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,1},{88,87}}</string>
				<key>spriteOffset</key>
				<string>{0,-1}</string>
				<key>spriteSize</key>
				<string>{88,88}</string>
				<key>spriteSourceSize</key>
				<string>{88,87}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{87,247},{88,87}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>anim0019</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{88,88}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{88,88}</string>
				<key>spriteSourceSize</key>
				<string>{88,88}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{175,247},{88,88}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>size</key>
			<string>{512,512}</string>
			<key>target</key>
			<dict>
				<key>name</key>
				<string>anim.png</string>
				<key>textureFileName</key>
				<string>anim</string>
				<key>textureFileExtension</key>
				<string>png</string>
				<key>premultipliedAlpha</key>
				<true/>
			</dict>
		</dict>
	</dict>
</plist>
